<h1>Listing tags</h1>

<%= @tags.each do |tag| %>
<!-- дабы не выводились одинаковые -->
  <% if Tag.find_by_text(tag.text).id == tag.id %>
   <p>
   <%= tag.text %>
   <%= link_to 'Show tag', tag %>
   </p>
  <% end %>
<% end %>
